/*------------------------general------------------------*/
@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
  font-family: 'Akzidenz';
  src: url('AkzidenzRegular.otf');
}

@font-face {
  font-family: 'NeueHaasGrotRoman';
  src: url('NeueHaasGrotRoman.otf');
}

@font-face {
  font-family: 'NeueHaasGrotLight';
  src: url('NeueHaasGrotLight.otf');
}

@font-face {
  font-family: 'NeueHaasGrotMedium';
  src: url('NeueHaasGrotMedium.otf');
}

body {
	font-family: 'NeueHaasGrotLight', 'Akzidenz', 'Inter UI';
	font-size: 14px;
	overflow-y: hidden;
	line-height: 1.5;
	letter-spacing: 0.05rem;
}

a {
	text-decoration: none;
	color: #000;
}


a:visited {
	color: #000;
}


/*------------------------index------------------------*/
.pageTitle {
	max-width: 90vw;
	margin: 0 auto;
	padding-top: 6vh;
	padding-bottom: 6vh;
	font-size: 2rem;
	font-family: 'NeueHaasGrotMedium';
	letter-spacing: 0.2rem;
	/*border: 1px solid;*/
}

.index {
	margin: 0 auto;
	max-width: 90vw;
	max-height: 90vh;
	padding-top: 0vh;
	/*border: 1px solid;*/
}

/*------------------------posts------------------------*/

.index  > .row {
	margin: 0 auto;
	max-width: 90vw;
	height: 14vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: flex-start;
}

.row > .page {
	width: 10vw;
	align-self: center;
	text-transform: uppercase;
	line-height: 1.5;
	font-family: 'NeueHaasGrotRoman';
	/*border: 1px solid;*/
}

.row > .page:hover {
	font-family: 'NeueHaasGrotMedium';
}

/*------------------------fragments------------------------*/

.row  > div {
	margin: auto; 
	align-self: center;
}

.row  > div >  img.fragments {
	width: 60px;
}

.row  >  div > img.fragments:hover {
	filter: drop-shadow(6px 6px 20px #aaa) hue-rotate(180deg);
}


/*------------------------footer------------------------*/

a.footer {
	font-size: 0.9rem;
	/*border: 1px solid;*/
	display: block;
	position: absolute;
	bottom: 4vh;
	font-family: 'NeueHaasGrotRoman';
}