.postMain {
	/*border: 1px solid;*/
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}


.postMain > .postBody {
  line-height: 1.5;
  width: 30vw;
  margin: 0 auto;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 0 2vw 5vh 2vw;
  margin-top: 10vh;
  /*border: 1px solid;*/
}

.postMain > .postBody::-webkit-scrollbar {
 display: none;
}

.postBody > p  > a {
	border-bottom: 1px solid;
}

.postBody > ul {
	margin: 0;
}

.postBody > ul > li , .postBody > ul > li > p {
	margin: 0;
	padding: 0;
}

.postBody > h4 {
	font-weight: 500;
}

.postBody > img {
  z-index: -2;
}

/* ------------- Screensaver---------------- */
#screensaver {
    display: none;
    background-color: transparent;
    z-index: 1;
}
#screensaver.starting {
  background-color: transparent;
}
#screensaver.starting,
#screensaver.active {
  position: fixed;
  display: block;
}
#screensaver .item {
  position: absolute;
  top: 0vh;
  left: 0vw;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#screensaver .item.active {
  opacity: 1;
}

/*------------------------fallback------------------------*/

@media screen and (max-width: 800px) {
  
  .postMain > .postBody {
    line-height: 1.5;
    width: 40vw;
    margin: 0 auto;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 0 2vw 5vh 2vw;
    margin-top: 15vh;
    /*border: 1px solid;*/
  }

}
